nav{
	padding:20px;
}
h1{
	color:orange;
}
#summary{
	padding:20px;background-color:lightyellow;
/* 	margin:0px; */
}

#actor{
	padding:20px;background-color:lightyellow;
}

#quote{
	padding:20px;background-color:lightyellow;
}

#aside{
	padding:40px;background-color:lightyellow;
}